{{define "header"}}
<!DOCTYPE html>
<html lang="ko">
<head>
    <title>UDR Generator</title>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <script src="/library/jquery/jquery.min.js"></script>
    <script src="/library/jquery/jquery.serialize-object.min.js"></script>
    <script src="/library/semantic/semantic.js"></script>
    <script src="/library/semantic/components/visibility.js"></script>
    <script src="/library/semantic/components/sidebar.js"></script>
    <script src="/library/semantic/components/transition.js"></script>
    <script src="/library/semantic/components/dropdown.js"></script>

    <link rel="stylesheet" type="text/css" href="/library/semantic/semantic.css">
    <link rel="stylesheet" type="text/css" href="/library/semantic/components/container.css">
    <link rel="stylesheet" type="text/css" href="/library/semantic/components/button.css">
    <link rel="stylesheet" type="text/css" href="/library/semantic/components/header.css">
    <link rel="stylesheet" type="text/css" href="/library/semantic/components/reset.css">
    <link rel="stylesheet" type="text/css" href="/library/semantic/components/site.css">
    <link rel="stylesheet" type="text/css" href="/library/semantic/components/image.css">
    <link rel="stylesheet" type="text/css" href="/library/semantic/components/menu.css">

    <link rel="stylesheet" type="text/css" href="/library/semantic/components/divider.css">
    <link rel="stylesheet" type="text/css" href="/library/semantic/components/dropdown.css">
    <link rel="stylesheet" type="text/css" href="/library/semantic/components/segment.css">
    <link rel="stylesheet" type="text/css" href="/library/semantic/components/list.css">
    <link rel="stylesheet" type="text/css" href="/library/semantic/components/icon.css">
    <link rel="stylesheet" type="text/css" href="/library/semantic/components/sidebar.css">
    <link rel="stylesheet" type="text/css" href="/library/semantic/components/transition.css">
</head>
{{end}}